@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #1a1a1a;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4ade80, #22c55e);
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #22c55e, #16a34a);
}

.green-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #1a1a1a;
}

.green-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.green-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

.green-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4ade80, #22c55e);
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

.green-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #22c55e, #16a34a);
}

